In [1]:
import pandas as pd

In [2]:
movies_data = pd.read_csv("https://raw.githubusercontent.com/andandandand/CSV-datasets/master/tmdb_5000_credits.csv")# dataframe
movies_data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
type(movies_data)

pandas.core.frame.DataFrame

In [4]:
ser = movies_data['crew']# series
ser

0       [{"credit_id": "52fe48009251416c750aca23", "de...
1       [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       [{"credit_id": "54805967c3a36829b5002c41", "de...
3       [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4       [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
                              ...
4798    [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799    [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800    [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801    [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802    [{"credit_id": "58ce021b9251415a390165d9", "de...
Name: crew, Length: 4803, dtype: object

In [5]:
type(movies_data['crew'])

pandas.core.series.Series

In [6]:
ser.head(10)

0    [{"credit_id": "52fe48009251416c750aca23", "de...
1    [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    [{"credit_id": "54805967c3a36829b5002c41", "de...
3    [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4    [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
5    [{"credit_id": "52fe4252c3a36847f80151a5", "de...
6    [{"credit_id": "52fe46db9251416c91062101", "de...
7    [{"credit_id": "55d5f7d4c3a3683e7e0016eb", "de...
8    [{"credit_id": "52fe4273c3a36847f801fab1", "de...
9    [{"credit_id": "553bf23692514135c8002886", "de...
Name: crew, dtype: object

# create own series

In [7]:
anime = ['My Hero Academia','Deth Note','Sword_art','One punch man','Domastic girlfriend','yari on ice','Dorenon']
genre = ['shounen','shounen','Action advencture','action','drama','sports','mistry']

In [8]:
anime_series = pd.Series(anime)
anime_series

0       My Hero Academia
1              Deth Note
2              Sword_art
3          One punch man
4    Domastic girlfriend
5            yari on ice
6                Dorenon
dtype: object

In [9]:
anime_series = pd.DataFrame(anime)
anime_series

                     0
0     My Hero Academia
1            Deth Note
2            Sword_art
3        One punch man
4  Domastic girlfriend
5          yari on ice
6              Dorenon

In [10]:
anime_series2 = pd.Series(genre,index=anime)
anime_series2

My Hero Academia                 shounen
Deth Note                        shounen
Sword_art              Action advencture
One punch man                     action
Domastic girlfriend                drama
yari on ice                       sports
Dorenon                           mistry
dtype: object