# pandas series

In [11]:
import pandas as pd

In [12]:
family = {'son': 'Tejaswini','mother':'Mangla','father':'Anil','brother':'Shivam'}

In [13]:
family = pd.Series(family)
family

son        Tejaswini
mother        Mangla
father          Anil
brother       Shivam
dtype: object

In [14]:
guitar_dic = {'yamaha':8500,'Apolo':30000,'talor':25000,'bation':40000,'prs':42000,'lakewood':30000}
guitar_price = pd.Series(guitar_dic,name ='price')
guitar_price

yamaha       8500
Apolo       30000
talor       25000
bation      40000
prs         42000
lakewood    30000
Name: price, dtype: int64

In [15]:
data = {'name': ['nick', 'david', 'joe', 'ross'],'age': ['5', '12', '8', '5']}  
new = pd.DataFrame.from_dict(data) 
  
new

    name age
0   nick   5
1  david  12
2    joe   8
3   ross   5

In [16]:
guitar_dic = {'name':['yamaha','Apolo','talor','bation','prs','lakewood'],'price':['8500','30000','25000',
             '40000','420000','300000']}
guitar_price1 = pd.DataFrame.from_dict(guitar_dic)#,('name'='price'))
guitar_price1

       name   price
0    yamaha    8500
1     Apolo   30000
2     talor   25000
3    bation   40000
4       prs  420000
5  lakewood  300000

In [17]:
guitar_price.nsmallest()

yamaha       8500
talor       25000
Apolo       30000
lakewood    30000
bation      40000
Name: price, dtype: int64

In [18]:
 guitar_price.nsmallest(n=3)

yamaha     8500
talor     25000
Apolo     30000
Name: price, dtype: int64

In [19]:
guitar_price.nsmallest(n=3).index[2]

'Apolo'

In [20]:
guitar_price.nlargest()

prs         42000
bation      40000
Apolo       30000
lakewood    30000
talor       25000
Name: price, dtype: int64

In [21]:
guitar_price.nlargest(n=4)

prs         42000
bation      40000
Apolo       30000
lakewood    30000
Name: price, dtype: int64

In [22]:
guitar_price.nlargest(n=3).index[2]

'Apolo'

#idxmin-idxmax

In [23]:
guitar_price.idxmin(0)

'yamaha'

In [24]:
guitar_price.idxmax()

'prs'